services:
  demo:
    image: mcr.microsoft.com/devcontainers/dotnet:8.0
    volumes:
      - ../..:/workspaces:cached
    network_mode: service:rabbit
    command: sleep infinity
     
  rabbit:
    image: rabbitmq:4.2-management
    restart: unless-stopped
    hostname: rabbit
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

  shipping-database:
    image: postgres
    env_file: 
      - shipping-database.env
    network_mode: service:rabbit

  finance-database:
    image: postgres
    env_file: 
      - finance-database.env
    network_mode: service:rabbit