services:
  demo:
    image: mcr.microsoft.com/devcontainers/dotnet:10.0
    volumes:
      - ../..:/workspaces:cached
    network_mode: service:rabbit
    command: sleep infinity
     
  rabbit:
    image: rabbitmq:3.13-management
    restart: unless-stopped
    hostname: rabbit
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest