version: '3'

services:
   demo:
    image: mcr.microsoft.com/devcontainers/dotnet:8.0
    volumes:
      - ../..:/workspaces:cached
    network_mode: service:marketing-database
    command: sleep infinity

   marketing-database:
      image: postgres
      env_file: 
         - marketing-database.env

   shipping-database:
      image: postgres
      env_file: 
         - shipping-database.env

      network_mode: service:marketing-database

   sales-database:
      image: postgres
      env_file: 
         - sales-database.env

      network_mode: service:marketing-database

   warehouse-database:
      image: postgres
      env_file: 
         - warehouse-database.env

      network_mode: service:marketing-database