version: '3'

services:
  demo:
    image: mcr.microsoft.com/devcontainers/dotnet:6.0
    volumes:
      - ../..:/workspaces:cached
    network_mode: service:rabbit
    command: sleep infinity
     
  rabbit:
    image: rabbitmq:3.10-management
    restart: unless-stopped
    hostname: rabbit
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    ports:
      - "5672:5672"
      - "15672:15672"